.container {
    min-height: 100vh;
    background: linear-gradient(var(--primary-gradient-soft-violet),var(--primary-gradient-soft-blue)) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}