:root {
  --primary-text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --primary-text-soft-red: hsl(14, 88%, 65%);

  --primary-gradient-soft-violet: hsl(273, 75%, 66%);
  --primary-gradient-soft-blue: hsl(240, 73%, 65%);

  --neutral-text-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --neutral-text-dark-grayish-blue: hsl(240, 6%, 50%);

  --neutral-text-dividers-light-grayish-blue: hsl(240, 5%, 91%);
}


$min-tablet: 425px;
$min-laptop: 768px;
$min-desktop: 1024px;
$tablet: "min-width: #{$min-tablet}";
$laptop: "min-width: #{$min-laptop}";
$desktop: "min-width: #{$min-desktop}";

