.faq {
  font-size: .85rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid var(--neutral-text-dividers-light-grayish-blue);

  &__question {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  &__answer {
      font-weight: 400;
      color: var(--neutral-text-dark-grayish-blue);
      font-size: .75rem;
      padding-right: 2rem;
      line-height: 1.7;
      margin-bottom: 0;
  }

  &[open] {
      .faq {
          &__question {
              font-weight: 700;
              img {
                  transform: rotate(180deg);
              }
          }

      }
  }
}